@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=East+Sea+Dokdo&family=Stylish&display=swap");

/* 
font-family: 'Dancing Script', cursive;
font-family: 'East Sea Dokdo', cursive;
font-family: 'Stylish', sans-serif; 
font-family: 'Sigmar One', cursive;
*/

/* ========================================
   ================기본 초기화=============
   ======================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .frame {
  padding:0, 375px, 812px, 0;
  }
  .nav {
    padding: 2%;
  }
}
/* ========================================
   ================header==================
   ======================================== */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px;
}

.logo {
  position: fixed;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.nav {
  position: fixed;
  right: 0;
  margin: 25px;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  list-style-image: url("../Images/star2.png");
}

.nav_menu_item {
  padding: 0 40px 0 0;
  margin: 30px 20px;
  font-size: 1.9rem;
  font-family: "Sigmar One", cursive;
}

/* ========================================
   ==================home==================
   ======================================== */
#home {
  position: relative;
  padding: 40%;
  z-index: -50;
}
#home .background_video {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -99999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  background: darkblue;
  opacity: 0.6;
  z-index: -10;
}

.home_text {
  position: absolute;
  top: 30%;
  left: 30%;
  margin: 0 auto;
  padding: 0;
  z-index: 10s;
  text-align: center;
  font-family: "East Sea Dokdo", cursive;
  line-height: 80px;
}

.home_text_box {
  width: 1000px;
  height: 1500px;
  color: white;
}

.home_text_item1 {
  position: absolute;
  left: -15%;
  top: 0;
  font-size: 4em;
}
.home_text_item2 {
  position: absolute;
  top: 7%;
  left: 0;
  font-size: 5em;
}

.home_text_item3 {
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 5em;
}

.home_text_item4 {
  position: absolute;
  top: 28%;
  right: 0;
  writing-mode: horizontal-tb;
  font-size: 6em;
}
/* ========================================
   =================about==================
   ======================================== */

#about {
  position: relative;
  padding: calc(40%);
  background: rgb(4, 16, 65);
  background: linear-gradient(
    175deg,
    rgba(4, 16, 65, 1) 0%,
    rgba(37, 83, 179, 1) 46%,
    rgba(87, 150, 241, 0.85) 80%
  );
}

.about_title {
  position: absolute;
  top: 10%;
  left: 800px;
  display: flex;
  text-align: center;
  font-family: "Stylish", sans-serif;
  font-size: 8em;
}

.about_img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30% 20%;
  padding: 0 100px 47px 0;
}

.about_text_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  margin: 30% 0 0 50%;
  padding: 0 5% 0 0;
  font-size: 1.7rem;
  font-family: "Stylish", sans-serif;
}

.about_p {
  width: 60%;
  padding: 20px 0 0 0px;
}

.about_text_item dl dt span {
  position: absolute;
  display: block;
  top: 10px;
  left: 0;
  width: 7px;
  height: 40px;
  background-color: skyblue;
}
.about_text_item dl dt {
  position: relative;
  margin-left: 5px;
  padding-top: 5px;
  padding-left: 20px;
  font-size: 2.5rem;
}

dt {
  display: block;
}
/* ========================================
   =================skill==================
   ======================================== */

#skills {
  position: relative;
  padding: 40%;
  background: rgb(87, 150, 241);
  background: linear-gradient(
    175deg,
    rgba(87, 150, 241, 0.85) 20%,
    rgba(251, 163, 128, 1) 65%,
    rgba(255, 251, 233, 0.8) 80%
  );
}

.skills_title {
  position: absolute;
  top: 10%;
  left: 800px;
  display: flex;
  text-align: center;
  font-family: "Stylish", sans-serif;
  font-size: 8em;
}

.skills_item_box {
  position: absolute;
  margin: 0;
  top: 25%;
  left: 15%;
  padding: 0 calc(60%) calc(40%) 0;
}

.canvasjs-chart-credit {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

#java {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  max-width: 500px;
  margin: 10px;
}
#html {
  position: absolute;
  top: 0;
  right: 25%;
  height: 500px;
  max-width: 500px;
  margin: 10px;
}
#oracle {
  position: absolute;
  top: 75%;
  left: 35%;
  height: 500px;
  max-width: 500px;
  margin: 10px;
}

/* ========================================
   ================project=================
   ======================================== */

#project {
  position: relative;
  padding: 25%;
  background: rgb(255, 251, 233);
  background: linear-gradient(
    175deg,
    rgba(255, 251, 233, 1) 0%,
    rgba(255, 253, 246, 1) 32%,
    rgba(247, 252, 239, 0.8) 100%
  );
}

.project_title {
  position: absolute;
  top: 10%;
  left: 800px;
  display: flex;
  text-align: center;
  font-family: "Stylish", sans-serif;
  font-size: 8em;
}

/* ========================================
   ================contact=================
   ======================================== */

#contact {
  position: relative;
  padding: 20%;
  background: rgb(247, 252, 239);
  background: linear-gradient(
    170deg,
    rgba(247, 252, 239, 0.9) 41%,
    rgba(210, 224, 140, 1) 69%,
    rgba(148, 70, 26, 0.8) 98%
  );
}

.contact_title {
  position: absolute;
  top: 152px;
  left: 800px;
  display: flex;
  text-align: center;
  font-family: "Stylish", sans-serif;
  font-size: 8em;
}

.contact_text {
  position: absolute;
  display: block;
  padding: 0 100px 100px 0;
  top: 192px;
  left: -150px;
}

.contact_text h2 {
  font-size: 3rem;
}

.contact_link {
  font-size: 5rem;
  color: lightcoral;
}

.contact_text span {
  font-size: 3rem;
}

/* ========================================
=================footer=================
======================================== */

#footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 50px;
  z-index: 30000;
  background: rgb(210, 224, 140);
  background: linear-gradient(
    170deg,
    rgba(210, 224, 140, 0.75) 0%,
    rgba(148, 70, 26, 0.9) 85%,
    rgba(88, 36, 7, 1) 90%
  );
}

.footer_img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.footer_text {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 1180px;
  height: 50px;
  color: white;
  font-style: italic;
  font-size: 1.1rem;
}

.footer_text1 {
  position: absolute;
  top: 15px;
  left: 500px;
}

.footer_img_item {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
